lib/
node_modules/
*.log

./h.js
./h.js.map
./h.d.ts

./htmldomapi.js
./htmldomapi.js.map
./htmldomapi.d.ts

./index.js
./index.js.map
./index.d.ts

./interfaces.js
./interfaces.js.map
./interfaces.d.ts

./is.js
./is.js.map
./is.d.ts

./thunk.js
./thunk.js.map
./thunk.d.ts

./util.js
./util.js.map
./util.d.ts

./vnode.js
./vnode.js.map
./vnode.d.ts

./helpers/
./modules/
